%base-styles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 8px;
}

.modal_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.transaction_modal {
  @extend %base-styles;
  max-width: 480px;
  width: 100%;
  padding: 2em;

  &-content {
    text-align: center;
  }
}

.wallet_modal {
  @extend %base-styles;
  max-width: 480px;
  width: 100%;
  padding: 1.5em;

  .flex-gap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      cursor: pointer;
    }
  }

  .wallet_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 1.5em;
    margin-top: 2em;

    &-card {
      width: 80px;
      height: 80px;
      box-sizing: border-box;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.withdraw_modal {
  @extend %base-styles;
  max-width: 480px;
  width: 100%;
  padding: 2em;

  &-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.lotteryModal {
  @extend %base-styles;
  max-width: 560px;
  padding: 2em;

  .lottery_header {
    svg {
      cursor: pointer;
    }
  }

  .error {
    font-size: 12px;
    color: tomato;
    text-transform: capitalize;
    text-align: center;
  }

  .lottery_type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
    padding-bottom: 2rem;

    > div {
      border: 1px solid #4f307c;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 1rem;
      cursor: pointer;

      svg {
        width: 100%;
      }

      p {
        font-size: 1.6rem;
        text-align: center;
        margin-top: 1rem;
        font-weight: 600;
      }
    }
  }

  .lottery_section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;

    .illustration {
      height: 150px;

      svg {
        height: inherit;
      }
    }

    .lottery_input {
      display: flex;
      align-items: center;
      gap: 1rem;

      > div {
        cursor: pointer;
      }

      input {
        background-color: transparent;
        outline: none;
        border: none;
        max-width: 270px;
        text-align: center;
      }

      p,
      input {
        font-weight: 600;
        font-size: 4rem;
        letter-spacing: 0.1em;
        color: #000000;
        background: #ffffff;
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding: 1rem 2rem;
      }
    }
  }
}
