%base-styles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 8px;
  max-width: 560px;
  padding: 2em;
  width: 100%;
}

.modal_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.transaction_modal {
  @extend %base-styles;
  max-width: 480px;
  width: 100%;

  &-content {
    text-align: center;
  }
}

.wallet_modal {
  @extend %base-styles;
  max-width: 480px;
  width: 100%;
  padding: 1.5em;

  .flex-gap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      cursor: pointer;
    }
  }

  .wallet_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 1.5em;
    margin-top: 2em;

    &-card {
      width: 80px;
      height: 80px;
      box-sizing: border-box;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.withdraw_modal {
  @extend %base-styles;
  max-width: 480px;
  width: 100%;
  padding: 2em;

  &-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.lotteryModal {
  @extend %base-styles;
  max-width: 560px;
  padding: 2em;

  .lottery_header {
    svg {
      cursor: pointer;
    }
  }

  .error {
    font-size: 12px;
    color: tomato;
    text-transform: capitalize;
    text-align: center;
  }

  .lottery_type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
    padding-bottom: 2rem;

    > div {
      border: 1px solid #4f307c;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 1rem;
      cursor: pointer;

      svg {
        width: 100%;
      }

      p {
        font-size: 1.6rem;
        text-align: center;
        margin-top: 1rem;
        font-weight: 600;
      }
    }
  }

  .lottery_section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;

    .illustration {
      height: 150px;

      svg {
        height: inherit;
      }
    }

    .lottery_input {
      display: flex;
      align-items: center;
      gap: 1rem;

      > div {
        cursor: pointer;
      }

      input {
        background-color: transparent;
        outline: none;
        border: none;
        max-width: 270px;
        text-align: center;
      }

      p,
      input {
        font-weight: 600;
        font-size: 4rem;
        letter-spacing: 0.1em;
        color: #000000;
        background: #ffffff;
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding: 1rem 2rem;
      }
    }
  }
}

.modal_wallet_content {
  @extend %base-styles;
  display: flex;
  flex-direction: column;

  .wallets_wrapper {
    display: flex;
    flex-direction: column;
    grid-gap: 1em;

    .wallet {
      display: grid;
      grid-template-columns: 70px auto;
      padding: 1em 1.25em;
      background: #ffffff;
      border: 1px solid rgba(252, 188, 103, 1);
      box-sizing: border-box;
      box-shadow: 0px 1px 15px rgba(81, 224, 255, 0.05);
      border-radius: 8px;
      cursor: pointer;
      transition: opacity 250ms ease-in-out;

      &.active {
        opacity: 0.75;
        cursor: no-drop;
      }

      > img {
        width: 100%;
        height: 70px;
        object-fit: contain;
      }

      &_content {
        margin-left: 1.25em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-gap: 1em;

        > div {
          width: 90%;
        }
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1em;

    .form_input {
      label {
        font-size: 14px;
        font-weight: 60;
        margin-bottom: 10px;
      }
      input {
        width: 100%;
        background: #ffffff;
        border: 1px solid rgba(252, 188, 103, 0.5);
        box-sizing: border-box;
        outline: none;
        border-radius: 8px;
        padding: 1em;
        font-size: 1em;
        line-height: 24px;

        &:focus {
          outline: 1px solid rgba(252, 188, 103, 0.5);
        }
      }
    }

    button {
      width: fit-content;
    }
  }

  .modal_footer-links {
    font-size: 12px;
    a {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

.accounts {
  section {
    .copy_clipboard {
      display: flex;
      align-items: center;
      justify-content: space-between;
      grid-gap: 1em;

      span {
        cursor: pointer;
        height: 24px;
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}
